{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "node": true
  },
  "ignorePatterns": ["node_modules", "models", "dist"]
}
